<!-- props: rating, position, star_size, rating_text -->
{% liquid
  assign rating = rating | default: 5
  assign position = position | default: 'left'
  assign star_size = star_size | default: 'small'
%}

{% case star_size %}
  {% when 'small' %}
    {%- assign width = 'w-[12px]' -%}
  {% when 'medium' %}
    {%- assign width = 'w-[14px]' -%}
  {% when 'large' %}
    {%- assign width = 'w-[16px]' -%}
  {% when 'extra_large' %}
    {%- assign width = 'w-[18px]' -%}
{% endcase %}

{% case position %}
  {% when 'left' %}
    {%- assign flex_direction = '' -%}
  {% when 'right' %}
    {%- assign flex_direction = 'flex-row-reverse justify-end' -%}
{% endcase %}

<div class="flex items-center gap-1 {{ flex_direction }}">
  <p class="text-[12px] md:text-[14px] lg:text-[14px] xl:text-[18px]">{{ rating_text }}</p>
  <div class="flex items-center">
    {%- for i in (1..5) -%}
      <span class="inline-block {{ width }} {% if i <= rating %}text-[var(--star-color)]{% else %}text-gray-300{% endif %}">
        {{ 'icon-star-rating.svg' | inline_asset_content }}
      </span>
    {%- endfor -%}
  </div>
</div>
