*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 575px) {
  .container {
    max-width: 575px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 750px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 990px) {
  .container {
    max-width: 990px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.-bottom-full {
  bottom: -100%;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-\[12px\] {
  left: 12px;
}

.right-0 {
  right: 0px;
}

.right-2 {
  right: 0.5rem;
}

.right-\[-70px\] {
  right: -70px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[50\%\] {
  top: 50%;
}

.top-full {
  top: 100%;
}

.z-\[2\] {
  z-index: 2;
}

.z-\[3\] {
  z-index: 3;
}

.z-\[999999\] {
  z-index: 999999;
}

.z-\[999\] {
  z-index: 999;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.m-0 {
  margin: 0px;
}

.m-\[var\(--margin\)\] {
  margin: var(--margin);
}

.m-auto {
  margin: auto;
}

.mx-\[20px\] {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-\[15px\] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-\[30px\] {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[20px\] {
  margin-bottom: 20px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.mb-\[8px\] {
  margin-bottom: 8px;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-\[12px\] {
  margin-left: 12px;
}

.ml-\[2px\] {
  margin-left: 2px;
}

.ml-\[8px\] {
  margin-left: 8px;
}

.mr-\[10px\] {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[14px\] {
  margin-top: 14px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-auto {
  margin-top: auto;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.\!flex {
  display: flex !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.list-item {
  display: list-item;
}

.hidden {
  display: none;
}

.\!h-\[60px\] {
  height: 60px !important;
}

.h-0 {
  height: 0px;
}

.h-32 {
  height: 8rem;
}

.h-4 {
  height: 1rem;
}

.h-64 {
  height: 16rem;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[10px\] {
  height: 10px;
}

.h-\[11px\] {
  height: 11px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[50px\] {
  height: 50px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[36px\] {
  height: 36px;
}

.\!max-h-\[50\%\] {
  max-height: 50% !important;
}

.\!max-h-\[80\%\] {
  max-height: 80% !important;
}

.max-h-full {
  max-height: 100%;
}

.min-h-\[100px\] {
  min-height: 100px;
}

.min-h-\[35px\] {
  min-height: 35px;
}

.min-h-\[51px\] {
  min-height: 51px;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/4 {
  width: 50%;
}

.w-4\/5 {
  width: 80%;
}

.w-56 {
  width: 14rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[104px\] {
  width: 104px;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[11px\] {
  width: 11px;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[22px\] {
  width: 22px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[28px\] {
  width: 28px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[var\(--logo-width\)\] {
  width: var(--logo-width);
}

.w-full {
  width: 100%;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[36px\] {
  width: 36px;
}

.min-w-\[180px\] {
  min-width: 180px;
}

.min-w-\[250px\] {
  min-width: 250px;
}

.min-w-\[240px\] {
  min-width: 240px;
}

.max-w-\[22px\] {
  max-width: 22px;
}

.max-w-\[350px\] {
  max-width: 350px;
}

.max-w-\[360px\] {
  max-width: 360px;
}

.max-w-\[850px\] {
  max-width: 850px;
}

.max-w-\[var\(--logo-width\)\] {
  max-width: var(--logo-width);
}

.max-w-full {
  max-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-\[0_0_150px\] {
  flex: 0 0 150px;
}

.flex-\[0_0_48px\] {
  flex: 0 0 48px;
}

.flex-\[0_0_50px\] {
  flex: 0 0 50px;
}

.flex-\[0_0_var\(--logo-width\)\] {
  flex: 0 0 var(--logo-width);
}

.flex-\[1\] {
  flex: 1;
}

.basis-full {
  flex-basis: 100%;
}

.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[90deg\] {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-90deg\] {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-\[9px\] {
  gap: 9px;
}

.gap-\[var\(--items-gap\)\] {
  gap: var(--items-gap);
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-normal {
  white-space: normal;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-\[0px\] {
  border-radius: 0px;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.\!border-\[var\(--btn-border-color\)\] {
  border-color: var(--btn-border-color) !important;
}

.\!border-\[var\(--hover-btn-border-color\)\] {
  border-color: var(--hover-btn-border-color) !important;
}

.border-\[\#000\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-\[\#111f44\] {
  --tw-border-opacity: 1;
  border-color: rgb(17 31 68 / var(--tw-border-opacity, 1));
}

.border-\[\#b2bed4\] {
  --tw-border-opacity: 1;
  border-color: rgb(178 190 212 / var(--tw-border-opacity, 1));
}

.border-\[\#e8e8e1\] {
  --tw-border-opacity: 1;
  border-color: rgb(232 232 225 / var(--tw-border-opacity, 1));
}

.border-\[var\(--btn-border-color\)\] {
  border-color: var(--btn-border-color);
}

.border-\[var\(--miscellaneous\)\] {
  border-color: var(--miscellaneous);
}

.border-current {
  border-color: currentColor;
}

.border-\[\#e6e6e6\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 230 230 / var(--tw-border-opacity, 1));
}

.border-\[\#f7f7f7\] {
  --tw-border-opacity: 1;
  border-color: rgb(247 247 247 / var(--tw-border-opacity, 1));
}

.border-\[\#eee\] {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity, 1));
}

.\!bg-\[\#F8F8F8\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1)) !important;
}

.bg-\[\#489cd8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(72 156 216 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-\[\#e5e5e5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f76d2f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 109 47 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f7f9fb\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 249 251 / var(--tw-bg-opacity, 1));
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[rgba\(0\2c 0\2c 0\2c 0\.42\)\] {
  background-color: rgba(0,0,0,0.42);
}

.bg-\[rgba\(29\2c 54\2c 117\2c 0\.8\)\] {
  background-color: rgba(29,54,117,0.8);
}

.bg-\[var\(--background\)\] {
  background-color: var(--background);
}

.bg-\[var\(--bg-header\)\] {
  background-color: var(--bg-header);
}

.bg-\[var\(--btn-background\)\] {
  background-color: var(--btn-background);
}

.bg-\[var\(--mmButton-bg\)\] {
  background-color: var(--mmButton-bg);
}

.bg-\[var\(--overlay-color\)\] {
  background-color: var(--overlay-color);
}

.bg-\[var\(--primary-color\)\] {
  background-color: var(--primary-color);
}

.bg-\[var\(--section-background\)\] {
  background-color: var(--section-background);
}

.bg-\[var\(--text-color\)\] {
  background-color: var(--text-color);
}

.bg-neutral-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity, 1));
}

.bg-neutral-400\/50 {
  background-color: rgb(163 163 163 / 0.5);
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-\[var\(--icon\)\] {
  fill: var(--icon);
}

.fill-current {
  fill: currentColor;
}

.fill-inherit {
  fill: inherit;
}

.fill-none {
  fill: none;
}

.stroke-current {
  stroke: currentColor;
}

.stroke-\[3px\] {
  stroke-width: 3px;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[6px\] {
  padding: 6px;
}

.p-\[8\%\] {
  padding: 8%;
}

.p-\[9px\] {
  padding: 9px;
}

.p-\[9px_14px\] {
  padding: 9px 14px;
}

.p-\[var\(--padding\)\] {
  padding: var(--padding);
}

.p-\[var\(--section-padding\)\] {
  padding: var(--section-padding);
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[39px\] {
  padding-top: 39px;
  padding-bottom: 39px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[7\.5px\] {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pb-\[15px\] {
  padding-bottom: 15px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pb-\[60px\] {
  padding-bottom: 60px;
}

.pb-\[7\.5px\] {
  padding-bottom: 7.5px;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pl-\[22px\] {
  padding-left: 22px;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pl-\[5px\] {
  padding-left: 5px;
}

.pr-\[10px\] {
  padding-right: 10px;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[15px\] {
  padding-top: 15px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.pt-\[37px\] {
  padding-top: 37px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.pt-\[8px\] {
  padding-top: 8px;
}

.pt-\[var\(--imgHeight\)\] {
  padding-top: var(--imgHeight);
}

.pt-\[var\(--imgHeight\2c 100\%\)\] {
  padding-top: var(--imgHeight,100%);
}

.pt-\[var\(--video-aspect-ratio\)\] {
  padding-top: var(--video-aspect-ratio);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-text-top {
  vertical-align: text-top;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[10\.44px\] {
  font-size: 10.44px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-\[200\] {
  font-weight: 200;
}

.font-\[500\] {
  font-weight: 500;
}

.font-\[600\] {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.leading-\[1\.6\] {
  line-height: 1.6;
}

.leading-\[11\.38px\] {
  line-height: 11.38px;
}

.leading-\[11\.3px\] {
  line-height: 11.3px;
}

.leading-\[15\.69px\] {
  line-height: 15.69px;
}

.leading-\[16px\] {
  line-height: 16px;
}

.tracking-\[0\.2em\] {
  letter-spacing: 0.2em;
}

.tracking-\[0\.2rem\] {
  letter-spacing: 0.2rem;
}

.tracking-\[3\%\] {
  letter-spacing: 3%;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#114273\] {
  --tw-text-opacity: 1;
  color: rgb(17 66 115 / var(--tw-text-opacity, 1));
}

.text-\[\#124f92\] {
  --tw-text-opacity: 1;
  color: rgb(18 79 146 / var(--tw-text-opacity, 1));
}

.text-\[\#489CD8\] {
  --tw-text-opacity: 1;
  color: rgb(72 156 216 / var(--tw-text-opacity, 1));
}

.text-\[\#489cd8\] {
  --tw-text-opacity: 1;
  color: rgb(72 156 216 / var(--tw-text-opacity, 1));
}

.text-\[\#C30000\] {
  --tw-text-opacity: 1;
  color: rgb(195 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#f7cf2f\] {
  --tw-text-opacity: 1;
  color: rgb(247 207 47 / var(--tw-text-opacity, 1));
}

.text-\[\#ff0000\] {
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[\#ffffff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[var\(--btn-color\)\] {
  color: var(--btn-color);
}

.text-\[var\(--icon\)\] {
  color: var(--icon);
}

.text-\[var\(--link\)\] {
  color: var(--link);
}

.text-\[var\(--section-heading-color\)\] {
  color: var(--section-heading-color);
}

.text-\[var\(--star-color\)\] {
  color: var(--star-color);
}

.text-\[var\(--text\)\] {
  color: var(--text);
}

.text-\[var\(--text-color\)\] {
  color: var(--text-color);
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.line-through {
  text-decoration-line: line-through;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-\[0\.7\] {
  opacity: 0.7;
}

.shadow-\[0_0_1px_rgba\(0\2c 0\2c 0\2c 0\.2\)\] {
  --tw-shadow: 0 0 1px rgba(0,0,0,0.2);
  --tw-shadow-colored: 0 0 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_3px_6px_rgba\(0\2c 0\2c 0\2c 0\.16\)\2c 0_3px_6px_rgba\(0\2c 0\2c 0\2c 0\.23\)\] {
  --tw-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
  --tw-shadow-colored: 0 3px 6px var(--tw-shadow-color), 0 3px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.delay-500 {
  transition-delay: 500ms;
}

.duration-\[0\.5s\] {
  transition-duration: 0.5s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.\[background\:var\(--background\)\] {
  background: var(--background);
}

.\!\[background\:var\(--btn-background\)\] {
  background: var(--btn-background) !important;
}

.\!\[background\:var\(--hover-btn-background\)\] {
  background: var(--hover-btn-background) !important;
}

.\[color\:var\(--background\)\] {
  color: var(--background);
}

.\!\[color\:var\(--btn-color\)\] {
  color: var(--btn-color) !important;
}

.\!\[color\:var\(--hover-btn-color\)\] {
  color: var(--hover-btn-color) !important;
}

.\!\[color\:var\(--icon\)\] {
  color: var(--icon) !important;
}

.\!\[color\:var\(--link\)\] {
  color: var(--link) !important;
}

.\[color\:var\(--mmButton-color\)\] {
  color: var(--mmButton-color);
}

.\!\[color\:var\(--text\)\] {
  color: var(--text) !important;
}

.\[color\:var\(--text\)\] {
  color: var(--text);
}

.\[letter-spacing\:0\.1rem\] {
  letter-spacing: 0.1rem;
}

.\[object-fit\:var\(--object-fit\)\] {
  -o-object-fit: var(--object-fit);
     object-fit: var(--object-fit);
}

.\[object-position\:var\(--imgPoint\)\] {
  -o-object-position: var(--imgPoint);
     object-position: var(--imgPoint);
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-\[-4px\]::before {
  content: var(--tw-content);
  bottom: -4px;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:right-\[-4px\]::before {
  content: var(--tw-content);
  right: -4px;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:block::before {
  content: var(--tw-content);
  display: block;
}

.before\:h-\[8px\]::before {
  content: var(--tw-content);
  height: 8px;
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:w-\[8px\]::before {
  content: var(--tw-content);
  width: 8px;
}

.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}

.before\:content-normal::before {
  content: var(--tw-content);
  align-content: normal;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-\[var\(--primary-color\)\]::before {
  content: var(--tw-content);
  background-color: var(--primary-color);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after {
  content: var(--tw-content);
  bottom: 0px;
}

.after\:left-0::after {
  content: var(--tw-content);
  left: 0px;
}

.after\:h-px::after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-0::after {
  content: var(--tw-content);
  width: 0px;
}

.after\:bg-black::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.after\:transition-all::after {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:duration-500::after {
  content: var(--tw-content);
  transition-duration: 500ms;
}

.hover\:border-\[\#489cd8\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(72 156 216 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#e4642b\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(228 100 43 / var(--tw-border-opacity, 1));
}

.hover\:border-\[var\(--hover-btn-border-color\)\]:hover {
  border-color: var(--hover-btn-border-color);
}

.hover\:border-\[\#000\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#eee\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#e4642b\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(228 100 43 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[var\(--hover-btn-background\)\]:hover {
  background-color: var(--hover-btn-background);
}

.hover\:bg-\[\#fff\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[var\(--hover-btn-color\)\]:hover {
  color: var(--hover-btn-color);
}

.hover\:text-\[var\(--hover-link\)\]:hover {
  color: var(--hover-link);
}

.hover\:text-\[var\(--link\)\]:hover {
  color: var(--link);
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:\!\[color\:var\(--hover-link\)\]:hover {
  color: var(--hover-link) !important;
}

.group\/nav:hover .group-hover\/nav\:visible {
  visibility: visible;
}

.group:hover .group-hover\:text-\[\#489cd8\] {
  --tw-text-opacity: 1;
  color: rgb(72 156 216 / var(--tw-text-opacity, 1));
}

.group\/nav:hover .group-hover\/nav\:after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

.group\/nav:focus-visible .group-focus-visible\/nav\:bg-\[red\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity, 1));
}

.group\/body.show-schema-colos .group-\[\.show-schema-colos\]\/body\:bottom-0 {
  bottom: 0px;
}

.group.show .group-\[\.show\]\:block {
  display: block;
}

.group.show .group-\[\.show\]\:hidden {
  display: none;
}

.group.active .group-\[\.active\]\:translate-x-\[0\] {
  --tw-translate-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group.active .group-\[\.active\]\:translate-y-\[0\] {
  --tw-translate-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/body.show-schema-colos .group-\[\.show-schema-colos\]\/body\:\[transform\:rotateY\(180deg\)\] {
  transform: rotateY(180deg);
}

.data-\[count\=0\]\:hidden[data-count="0"] {
  display: none;
}

@media (min-width: 750px) {
  .md\:my-\[0\] {
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:mt-\[32px\] {
    margin-top: 32px;
  }

  .md\:mt-\[41px\] {
    margin-top: 41px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-2\/3 {
    width: 66.666667%;
  }

  .md\:max-w-\[28px\] {
    max-width: 28px;
  }

  .md\:max-w-\[90\%\] {
    max-width: 90%;
  }

  .md\:max-w-\[calc\(66\.666667\%-60px\)\] {
    max-width: calc(66.666667% - 60px);
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:basis-5\/12 {
    flex-basis: 41.666667%;
  }

  .md\:basis-6\/12 {
    flex-basis: 50%;
  }

  .md\:basis-8\/12 {
    flex-basis: 66.666667%;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-\[20px\] {
    gap: 20px;
  }

  .md\:p-3 {
    padding: 0.75rem;
  }

  .md\:px-\[10px\] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .md\:py-\[20px\] {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .md\:pt-\[20px\] {
    padding-top: 20px;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[40px\] {
    font-size: 40px;
  }
}

@media (min-width: 990px) {
  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-\[30px\] {
    margin-top: 30px;
  }

  .lg\:mt-\[60px\] {
    margin-top: 60px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:max-w-\[800px\] {
    max-width: 800px;
  }

  .lg\:flex-\[0_0_150px\] {
    flex: 0 0 150px;
  }

  .lg\:flex-\[1\] {
    flex: 1;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-\[15px\] {
    gap: 15px;
  }

  .lg\:gap-\[40px\] {
    gap: 40px;
  }

  .lg\:gap-\[60px\] {
    gap: 60px;
  }

  .lg\:gap-y-10 {
    row-gap: 2.5rem;
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .xl\:max-w-\[1100px\] {
    max-width: 1100px;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:gap-\[20px\] {
    gap: 20px;
  }

  .xl\:gap-\[60px\] {
    gap: 60px;
  }

  .xl\:gap-\[80px\] {
    gap: 80px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[26px\] {
    font-size: 26px;
  }
}
